@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Poppins";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/Poppins-Light.ttf)
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/Poppins-Regular.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/Poppins-SemiBold.ttf)
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ultra-Ultra";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/GT-Ultra-Standard-Ultra.woff)
    format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ultra-Ultra";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/GT-Ultra-Standard-Ultra.woff2)
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ultra-Ultra';
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/GT-Ultra-Standard-Ultra.ttf)
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ultra";
  src: url(https://cdn.shopify.com/s/files/1/0256/8926/0111/files/GT-Ultra-Standard-Bold.woff)
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
